nav ul a {
    display: inline-flex!important;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-message {
    flex: 1 1 auto;
    text-align: center;
}